{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    ["styled-jsx/babel", { "optimizeForSpeed": true, "vendorPrefixes": true, "sourceMaps": false }],
    [
      "module-resolver",
      {
        "extensions": [".tsx", ".ts", ".js"],
        "root": ["./src"],
        "alias": {
          "/": "./",
          "@": "./src"
        }
      }
    ]
  ]
}
